html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  width: 100%;
  max-width: 1680px;
  background-color: aqua;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  
  #navi {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  
  li {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    a {
      font-size: 2rem;
      text-decoration: none;
      font-family: 'Starjedi';
      padding: 2rem 3rem;
    }
  }
}

@keyframes btn-mg {
  from {
    margin-left: 8rem;
  }

  to {
    margin-left: 9rem;
  }
}

.stars {
  width: 30%;
  display: flex;
  flex-direction: column;
  float: left;
  
  button {
    width: 24rem;
    height: 5rem;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    h1 {
      display: flex;
      width: fit-content;
      margin: 0;
      font-size: 1.8rem;
    }
    
    
  }
  
  button:hover {
    animation: btn-mg 0.3s forwards;
  }
  
  button:not(:first-child) { 
    margin-top: 3rem;
  }
  
}

aside {
  width: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

}


.imagens {
  display: none;
  width: 100%;
  
}




.active {
  display: flex;
}

